.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
  padding-top: 4rem;
}

.boxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
