.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
  height: 100vh;
}

.titleWrapper {
  display: flex;
  gap: 2.8rem;
  justify-content: center;
  align-items: center;
}

.title {
  color: #7873ff;
  text-align: center;
  font-family: DungGeunMo;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gradient {
  z-index: -2;
  position: absolute;
  bottom: 0;
  margin-bottom: -10rem;
  width: 100%;
  height: 440px;
  background: linear-gradient(
    180deg,
    rgba(83, 0, 236, 0) 0%,
    rgba(83, 0, 236, 0.3) 100%
  );
}

.boxWrapper {
  width: 57.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.bgImgWrapper {
  z-index: -1;
  position: fixed;
  bottom: 20%;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.bgImg {
  display: flex;
  width: calc(2683.86px * 2);
  height: 100%;
  animation: moveBg 30s linear infinite;
}

.bgImg img {
  width: 2683.86px;
  height: 100%;
}

@keyframes moveBg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
