.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.content {
  width: 100%;
  max-width: 72rem;
  text-align: center;
}

.title {
  font-family: DungGeunMo;
  font-size: 2.8rem;
  color: var(--white);
  margin-bottom: 1.6rem;
}

.description {
  font-size: 1.8rem;
  color: var(--g2);
  margin-bottom: 4rem;
}

.loginPage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
  padding-top: 4rem;
}

.logoContainer {
  display: flex;
  gap: 2.8rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}

.registerTitle {
  margin-top: 1.4rem;
  color: #fff;
  text-align: center;
  font-family: DungGeunMo;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
}

.boxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.blurBox {
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
  margin-bottom: 12.8rem;
  width: 100%;
  max-width: 72rem;
  border-radius: 24px;
  background: rgba(84, 84, 84, 0.25);
  box-shadow:
    0px 0px 30px 0px #232323,
    0px 0px 80px 0px rgba(255, 255, 255, 0.24) inset;
  backdrop-filter: blur(10px);
  padding: 4.8rem 6rem;
}

.gradient {
  z-index: -2;
  position: absolute;
  bottom: 0;
  margin-bottom: -10rem;
  width: 100%;
  height: 440px;
  background: linear-gradient(
    180deg,
    rgba(83, 0, 236, 0) 0%,
    rgba(83, 0, 236, 0.3) 100%
  );
}

.bgImgWrapper {
  z-index: -1;
  position: fixed;
  bottom: 20rem;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.bgImg {
  display: flex;
  width: calc(2683.86px * 2);
  height: 100%;
  animation: moveBg 30s linear infinite;
}

.bgImg img {
  width: 2683.86px;
  height: 100%;
}

@keyframes moveBg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
