.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.content {
  width: 100%;
  max-width: 72rem;
  text-align: center;
}

.title {
  font-family: DungGeunMo;
  font-size: 2.8rem;
  color: var(--white);
  margin-bottom: 1.6rem;
}

.description {
  font-size: 1.8rem;
  color: var(--g2);
  margin-bottom: 4rem;
}
