.container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
}

.categoryGrid {
  display: grid;
  grid-template-columns: repeat(3, 18rem);
  gap: 1.8rem;
  justify-content: center;
}

.categoryButton {
  display: flex;
  align-items: center;

  width: 18rem;
  height: 8rem;
  border-radius: 12px;
  background: transparent;
  border: 2px solid rgba(177, 178, 255, 1);

  cursor: pointer;
  transition: all 0.3s ease;

  color: #b1b2ff;
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.categoryButton.selected {
  background: #5d2efa;
  border-color: #5d2efa;
  color: var(--white);
}

.categoryButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border-color: var(--g4);
  color: var(--g4);
}

.selectedCount {
  text-align: center;
  color: var(--g2);
  font-size: 1.6rem;
  margin-top: 1rem;
}

.categoryIcon {
  flex: 0 0 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryText {
  flex: 0 0 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2rem;
}

.completeButton {
  width: 58rem;
  height: 6rem;
  border-radius: 12px;
  background: linear-gradient(90deg, #7873ff 0%, #5d2efa 50%, #7873ff 100%);
  border: none;
  color: white;
  font-family: Pretendard;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.completeButton:disabled {
  border-radius: 12px;
  border: 2px solid #6762cf;
  background: #342d40;
  color: #6762cf;
  cursor: not-allowed;
}

.skipButton {
  background: none;
  border: none;
  color: var(--g1);
  opacity: 80%;
  font-family: Pretendard;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skipButton:hover {
  color: var(--g1);
  opacity: 100%;
}
