@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "NeoDunggeunmo";
  src: url("/fonts/neodgm_code.woff2") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("/fonts/DungGeunMo.woff2") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #222222;
  --foreground: #f5f5f5;

  /* Color Tokens */
  --color-dark-primary: #5300ec;
  --color-primary: #7873ff;
  --color-gray-lightest: #f5f5f5ff;
  --color-gray-lighter: #e7e7e7ff;
  --color-gray-light: #ccccccff;
  --color-gray-medium: #919191ff;
  --color-gray-dark: #545454ff;
  --color-gray-darker: #222222ff;
  --color-error: #ff7878ff;

  /* Font Tokens */
  --font-navbar-active-size: 22px;
  --font-navbar-active-weight: 700;
  --font-navbar-active-family: "Clash Display", sans-serif;
  --font-navbar-active-line-height: 26.4px;

  --font-navbar-inactive-size: 22px;
  --font-navbar-inactive-weight: 400;
  --font-navbar-inactive-family: "NeoDunggeunmo", sans-serif;
  --font-navbar-inactive-line-height: 26.4px;

  --font-navbar-pixel-size: 24px;
  --font-navbar-pixel-weight: 400;
  --font-navbar-pixel-family: "DungGeunMo", sans-serif;
  --font-navbar-pixel-line-height: 28.8px;

  --font-event-title-large-size: 24px;
  --font-event-title-large-weight: 600;
  --font-event-title-large-family: "Pretendard", sans-serif;
  --font-event-title-large-line-height: 28.8px;

  --font-body-regular-size: 18px;
  --font-body-regular-weight: 400;
  --font-body-regular-family: "Pretendard", sans-serif;
  --font-body-regular-line-height: 21.6px;

  --font-body-medium-size: 18px;
  --font-body-medium-weight: 500;
  --font-body-medium-family: "Pretendard", sans-serif;
  --font-body-medium-line-height: 21.6px;

  --font-body-bold-size: 18px;
  --font-body-bold-weight: 700;
  --font-body-bold-family: "Pretendard", sans-serif;
  --font-body-bold-line-height: 100px;

  --font-pixel-text-small-size: 20px;
  --font-pixel-text-small-weight: 400;
  --font-pixel-text-small-family: "DungGeunMo", sans-serif;
  --font-pixel-text-small-line-height: 24px;

  --font-button-size: 22px;
  --font-button-weight: 800;
  --font-button-family: "Pretendard", sans-serif;
  --font-button-line-height: 20px;

  --font-text-small-bold-size: 16px;
  --font-text-small-bold-weight: 700;
  --font-text-small-bold-family: "Pretendard", sans-serif;
  --font-text-small-bold-line-height: 20px;

  --font-text-small-regular-size: 16px;
  --font-text-small-regular-weight: 400;
  --font-text-small-regular-family: "Pretendard", sans-serif;
  --font-text-small-regular-line-height: 20px;

  --font-text-medium-bold-size: 20px;
  --font-text-medium-bold-weight: 700;
  --font-text-medium-bold-family: "Pretendard", sans-serif;
  --font-text-medium-bold-line-height: 24px;

  --font-text-large-bold-size: 24px;
  --font-text-large-bold-weight: 700;
  --font-text-large-bold-family: "Pretendard", sans-serif;
  --font-text-large-bold-line-height: 28.8px;

  --font-caption-size: 14px;
  --font-caption-weight: 400;
  --font-caption-family: "Pretendard", sans-serif;
  --font-caption-line-height: 20px;

  --font-pixel-text-large-size: 24px;
  --font-pixel-text-large-weight: 400;
  --font-pixel-text-large-family: "DungGeunMo", sans-serif;
  --font-pixel-text-large-line-height: 28.8px;

  --font-title-size: 56px;
  --font-title-weight: 800;
  --font-title-family: "Pretendard", sans-serif;
  --font-title-line-height: 100px;

  --font-event-title-small-size: 20px;
  --font-event-title-small-weight: 600;
  --font-event-title-small-family: "Pretendard", sans-serif;
  --font-event-title-small-line-height: 24px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

@media screen and (max-width: 370px) {
  html {
    font-size: 58%; /* 9.28px에 해당 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Global Class Definitions */
.body-text {
  font-family: var(--font-body-regular-family);
  font-size: var(--font-body-regular-size);
  font-weight: 400;
  color: var(--foreground);
}

.navbar-link {
  font-family: var(--font-navbar-active-family);
  font-size: var(--font-navbar-active-size);
  font-weight: var(--font-navbar-active-weight);
  color: var(--color-primary);
}

.pixel-text {
  font-family: var(--font-pixel-text-small-family);
  font-size: var(--font-pixel-text-small-size);
  font-weight: var(--font-pixel-text-small-weight);
  color: var(--color-gray-darker);
}
