@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("/fonts/DungGeunMo.woff2") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow:
    0 0 0 40px rgba(204, 204, 204, 0.051) inset,
    0 0 0 40px rgba(204, 204, 204, 0.01) inset,
    0 0 0 40px rgba(204, 204, 204, 0.051) inset;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  --background: #222222;

  /* Color Tokens */
  --color-dark-primary: #5300ec;
  --color-primary: #7873ff;
  --color-light-primary: #b1b2ff;
  --white: #fff;
  --g1: #f5f5f5ff;
  --g2: #e7e7e7ff;
  --g3: #ccccccff;
  --g4: #919191ff;
  --g5: #545454ff;
  --g6: #222222ff;
  --warning: #ff7878ff;

  /* Font Tokens */
  /* nav */
  --font-navbar-active-size: 2.4rem;
  --font-navbar-active-weight: 400;
  --font-navbar-active-family: "DungGeunMo", sans-serif;

  --font-navbar-inactive-size: 2.2rem;
  --font-navbar-inactive-weight: 400;
  --font-navbar-inactive-family: "DungGeunMo", sans-serif;

  /*  */
  --font-event-title-large-size: 2.4rem;
  --font-event-title-large-weight: 600;
  --font-event-title-large-family: "Pretendard", sans-serif;
  --font-event-title-large-line-height: 2.88rem;

  --font-body-regular-size: 1.8rem;
  --font-body-regular-weight: 400;
  --font-body-regular-family: "Pretendard", sans-serif;
  --font-body-regular-line-height: 2.16rem;

  --font-body-medium-size: 1.8rem;
  --font-body-medium-weight: 500;
  --font-body-medium-family: "Pretendard", sans-serif;
  --font-body-medium-line-height: 2.16rem;

  --font-body-bold-size: 1.8rem;
  --font-body-bold-weight: 700;
  --font-body-bold-family: "Pretendard", sans-serif;
  --font-body-bold-line-height: 10rem;

  --font-pixel-text-small-size: 2rem;
  --font-pixel-text-small-weight: 400;
  --font-pixel-text-small-family: "DungGeunMo", sans-serif;

  --font-button-size: 2.2rem;
  --font-button-weight: 800;
  --font-button-family: "Pretendard", sans-serif;
  --font-button-line-height: 2rem;

  --font-text-small-bold-size: 1.6rem;
  --font-text-small-bold-weight: 700;
  --font-text-small-bold-family: "Pretendard", sans-serif;
  --font-text-small-bold-line-height: 2rem;

  --font-text-small-regular-size: 1.6rem;
  --font-text-small-regular-weight: 400;
  --font-text-small-regular-family: "Pretendard", sans-serif;
  --font-text-small-regular-line-height: 2rem;

  --font-text-medium-bold-size: 2rem;
  --font-text-medium-bold-weight: 700;
  --font-text-medium-bold-family: "Pretendard", sans-serif;
  --font-text-medium-bold-line-height: 2.4rem;

  --font-text-large-bold-size: 2.4rem;
  --font-text-large-bold-weight: 700;
  --font-text-large-bold-family: "Pretendard", sans-serif;
  --font-text-large-bold-line-height: 2.88rem;

  --font-caption-size: 1.4rem;
  --font-caption-weight: 400;
  --font-caption-family: "Pretendard", sans-serif;
  --font-caption-line-height: 2rem;

  --font-pixel-text-large-size: 2.4rem;
  --font-pixel-text-large-weight: 400;
  --font-pixel-text-large-family: "DungGeunMo", sans-serif;
  --font-pixel-text-large-line-height: 2.88rem;

  --font-title-size: 5.6rem;
  --font-title-weight: 800;
  --font-title-family: "Pretendard", sans-serif;
  --font-title-line-height: 10rem;

  --font-event-title-small-size: 2rem;
  --font-event-title-small-weight: 600;
  --font-event-title-small-family: "Pretendard", sans-serif;
  --font-event-title-small-line-height: 2.4rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 370px) {
  html {
    font-size: 58%; /* 9.28px에 해당 */
  }
}

body {
  color: var(--g1);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Global Class Definitions */
.body-text {
  font-family: var(--font-body-regular-family);
  font-size: var(--font-body-regular-size);
  font-weight: 400;
  color: var(--foreground);
}

/* nav */
.nav_pixel_text_22 {
  font-family: var(--font-navbar-inactive-family);
  font-size: var(--font-navbar-inactive-size);
  font-weight: var(--font-navbar-inactive-weight);
  color: var(--g3);
  text-align: center;
}

.nav_active {
  font-size: var(--font-navbar-active-size);
  color: var(--white);
  -webkit-text-stroke: 0.3px #fff;
}

/* pixel */
.pixel_text_20 {
  font-family: var(--font-pixel-text-small-family);
  font-size: var(--font-pixel-text-small-size);
  font-weight: var(--font-pixel-text-small-weight);
  color: var(--color-primary);
  font-style: normal;
}

/* body */
.body_18_R {
  font-family: var(--font-body-regular-family);
  font-size: var(--font-body-regular-size);
  font-weight: var(--font-body-regular-weight);
  font-style: normal;
}

.body_20_B {
  color: var(--white);

  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* agree caption */
.agree_caption {
  color: var(--g2);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.bold-text {
  display: block;
  font-weight: 600;
  margin: 0.8rem 0;
}

/* button */
.btn_text {
  font-family: var(--font-button-family);
  font-size: var(--font-button-size);
  font-style: normal;
  font-weight: var(--font-button-weight);
}

/* caption */
.caption {
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
