.Container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 7.4rem;
}

.rightTitle {
  display: flex;
  width: 320px;
  height: 320px;
  flex-direction: column;
  margin-left: 3.2rem;
  font-family: Pretendard;
  font-size: 8.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100px;
}

.EventItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  position: relative;
}

.titleBgWrapper {
  position: absolute;
  z-index: -999;
}

.EventContainer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 41.7rem;
}

.EventContainer::before,
.EventContainer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.EventContainer::before {
  left: 0;
  background: linear-gradient(90deg, #232323 0%, rgba(35, 35, 35, 0) 100%);
}

.EventContainer::after {
  right: 0;
  background: linear-gradient(270deg, #232323 0%, rgba(35, 35, 35, 0) 100%);
}

.SwiperContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 41.7rem;
  font-size: 1.6rem;
  color: #ffffff;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 41.7rem;
  font-size: 1.6rem;
  color: #ffffff;
}
