.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.3rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.title {
  text-align: center;
  font-family: Pretendard;
  font-size: 40rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  background: radial-gradient(50% 50% at 50% 50%, #d2d3ff 0%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.caption {
}
