.container {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.inputLabel {
  color: var(--color-light-primary);
}

.inputWrapper {
  margin-bottom: 0.8rem;
}

.error {
  color: var(--color-error);
  margin-top: 0.4rem;
}

.genderWrapper {
  display: flex;
  gap: 2.4rem;
}

.checkLabel {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.checkBtn {
  display: none;
}

.checkboxIcon {
  display: flex;
  align-items: center;
}

.birthdateWrapper {
  display: flex;
  gap: 1.2rem;
}

.birthdateWrapper > * {
  flex: 1;
}

.btnWrapper {
  margin-top: 1.6rem;
}
