.boxContainer {
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
  margin-bottom: 4rem;
  width: 100%;
  max-width: 560px;
  border-radius: 24px;
  background: rgba(84, 84, 84, 0.25);
  box-shadow:
    0px 0px 30px 0px #232323,
    0px 0px 80px 0px rgba(255, 255, 255, 0.24) inset;
  backdrop-filter: blur(10px);
  padding: 4.8rem 6rem;
}

.loginTitle {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-family: DungGeunMo;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.emailTitle {
  margin-bottom: 1.2rem;
}

.inputLabel {
  margin-bottom: 1.2rem;
}

.inputWrapper {
  margin-bottom: 1.2rem;
}

.error {
  color: var(--warning);
  margin-top: 0.6rem;
}

.errorSection {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.verificationSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.verificationSectionLabel {
  width: 33rem;
  color: #b1b2ff;

  font-family: Pretendard;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.verificationInput {
  height: 5.2rem;
  padding: 0.7rem 1.4rem 0.7rem 2.2rem;
  border-radius: 12px;
  border: 2px solid rgba(245, 245, 245, 0.3);
  background: linear-gradient(
    90deg,
    rgba(204, 204, 204, 0.2) 0%,
    rgba(204, 204, 204, 0.05) 50%,
    rgba(204, 204, 204, 0.2) 100%
  );

  color: #fff;
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  outline: none;
}

.verificationButton {
  display: flex;
  width: 100%;
  height: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #7873ff;
  background: none;

  color: #7873ff;
  text-align: center;
  font-family: Pretendard;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  cursor: pointer;
  transition: background 0.2s;
  opacity: 1;
}

.verificationButton.active {
  background: #7873ff;
  color: #fff;
  border: none;
}

.verificationButton:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

.verificationButton.resend {
  background: #b1b2ff;
  color: #5300ec;
  border: none;
}

.confirmBtn {
  width: 20rem;
  height: 52px;
  border-radius: 12px;
  background: rgba(83, 0, 236, 0.8);
  border: none;

  color: #b1b2ff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
}

.verifiedInput {
  width: 100%;
  border: none;
  height: 5.2rem;
  padding-left: 2.2rem;
  color: #b1b2ff;
  border-radius: 12px;
  background: rgba(83, 0, 236, 0.8);

  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.verifiedButton {
  background: #3d1dce !important;
  color: #b6afff !important;
  border: none;
  opacity: 1 !important;
}

.verifiedCheck {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #b6afff;
  font-size: 2rem;
}

.verificationInputWrapper {
  width: 100%;
  position: relative;
}

.icWrapper {
  position: absolute;
  right: 1.4rem;
  top: 1.4rem;
}
